includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
